  </div>
  <footer id="footer">
    <div class="page-width cf">
      <div class="vcard">
        <p><em class="fn">Oskar Schöldström</em> (<span class="email">public@oxy.fi</span>)</p>
        <p><small><span class="title">Web Developer</span> from <span class="adr"><span class="country-name">Finland</span></span></small></p>
      </div>
      <nav role="navigation" class="page-width">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/categories/">Categories</a></li>
          <li><a href="/author/">Author</a></li>
          <li><a href="https://github.com/oxyc">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <span id="forkongithub">
    <a href="https://github.com/oxyc/blog">Fork me on GitHub</a>
  </span>
  <script src="/assets/dist/components.min.js"></script>
  <script src="/assets/dist/script.js"></script>
  <script>
    var _gaq=[['_setAccount','{{ site.google_analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  </body>
</html>
