.posts
  clean-list()

  a
    text-decoration: none
    display: block

  span
    margin-left: .5em
    text-decoration: underline

article
  h1
    margin-bottom: 0.25em

  .tags
    font-size: $small-size

  .tags
    display: inline-block
    &:before
      content: '\BB'
