$font-size = 14px
$desktop-size = 16px
$small-size = 12px
$page-width = 40em

$serif = Droid Serif, Georgia, serif
$sans-serif = Droid Sans, Arial, sans-serif
$monospace = Inconsolata, monospace, serif

$black = #43
$light-gray = #f5
$gray = #b3
$white = #fd
$red = #ee2424
$blue = #1908da
$purple = #8b00a5


